<md-toolbar>
  <div class="flex-container" fxLayout="row" fxLayoutAlign="space-around center" style="width: 100%">
  <button md-button routerLink="/home" fxFlex="nogrow" color="warn">
         <img src='{{logo}}' width="64" height="64">
  </button>
    <md-input-container fxFlex="auto">
      <input mdInput placeholder="{{searchbarDefault}}" name="todoMessage" [(ngModel)]="searchText" [class.todo-error]="!searchText.length" (keyup.enter)='searchAction()' />
    </md-input-container>
    <button md-button md-fab type="button" [disabled]="!searchText.length" fxFlex="none" (click)="searchAction()">
             <md-icon>search</md-icon>
          </button>
  <div *ngIf="!isMobile()" fxFlex="380px">
    <button md-button routerLink="/install">
           {{install}}
        </button>
    <button md-button routerLink="/features">
            {{feature}}
         </button>
    <button md-button (click)="signUpAction()">
            {{signup}}
         </button>
    <button md-button (click)="logInAction()">
            {{login}}
    </button>
  </div>
  <div *ngIf="isMobile()">
    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </div>
  </div>
</md-toolbar>
  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item routerLink="/install">Install</button>
    <button md-menu-item routerLink="/features">Features</button>
    <button md-menu-item (click)="signUpAction()">Sign Up</button>
    <button md-menu-item (click)="logInAction()">Log In</button>
  </md-menu>
<router-outlet></router-outlet>