<md-grid-list cols="12" [style.background]="'#C3C3E5'" rowHeight="64px">
  <!-- Home Button -->
  <md-grid-tile colspan="2">
    <button md-button routerLink="/home">
         <img src='{{logo}}' width="64" height="64">
         <h3 style="display: inline" class="home-button">{{logotext}}</h3>
      </button>
  </md-grid-tile>
    <!-- Searchbar -->
  <md-grid-tile colspan="6">
      <div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutAlign.xs="start" style="width: 100%">
        <md-input-container autofill style="width: 90%" class="flex-item">
          <input md-input placeholder="{{searchbarDefault}}" name="todoMessage" [(ngModel)]="searchText" [class.todo-error]="!searchText.length" (keyup.enter)='searchAction()'/>
        </md-input-container>
        <button md-button md-fab type="button" [disabled]="!searchText.length" class="flex-item" (click)="searchAction()">
             <md-icon>search</md-icon>
          </button>
      </div>
  </md-grid-tile>
  <!-- Install Button -->
  <md-grid-tile>
    <button md-button routerLink="/install">
           <h3 style="display: inline">{{install}}</h3>
        </button>
  </md-grid-tile>
  <!-- Feature Button -->
  <md-grid-tile>
    <button md-button routerLink="/features">
            <h3 style="display: inline">{{feature}}</h3>
         </button>
  </md-grid-tile>
  <!-- Signup Button -->
  <md-grid-tile>
    <button md-button (click) = "signUpAction()">
            <h3 style="display: inline">{{signup}}</h3>
         </button>
  </md-grid-tile>
  <!-- Login Button -->
  <md-grid-tile>
    <button md-button (click) = "logInAction()">
            <h3 style="display: inline">{{login}}</h3>
         </button>
  </md-grid-tile>
</md-grid-list>

<router-outlet></router-outlet>