<div [style.background]="pink">
    <md-grid-list cols="1" rowHeight="64px">
        <md-grid-tile colspan="1">
            <h3>Gem Engine</h3>
        </md-grid-tile>
    </md-grid-list>
    <md-grid-list cols="1" rowHeight="256px">
        <md-grid-tile colspan="1">
            <div mdTooltip="Download">
                <a md-button routerLink="/install">
                    <img src='{{logo}}' width="256" height="256">
                </a>
            </div>
        </md-grid-tile>
    </md-grid-list>
    <md-grid-list cols="1" rowHeight="256px">
        <md-grid-tile colspan="1">
            <h1 style="width: 512px;">Gem Engine is a pluginable application builder developed in Java.</h1>
        </md-grid-tile>
    </md-grid-list>
</div>
<div [style.background]="purple">
    <md-grid-list cols="1" rowHeight="64px">
        <md-grid-tile colspan="1">
            <h3 style="width: 512px;">This website is a collection of plugins for the Gem Engine.</h3>
        </md-grid-tile>
    </md-grid-list>
    <md-grid-list cols="1"  rowHeight="640px">
        <md-grid-tile colspan="1">
            <span mdTooltip="Editor Plugin">
                <img src='./assets/editor.png'>
            </span>
        </md-grid-tile>
    </md-grid-list>
    <md-grid-list cols="1" rowHeight="64px">
        <md-grid-tile colspan="1">
            <span mdTooltip="Add your own!">
            <a md-button (click)='logInAction()'>
                    <h3>Added by the community!</h3>
            </a>
                </span>
        </md-grid-tile>
        <md-grid-tile colspan="1">
            <h3>Currently, there are over X plugins for you to download from!</h3>
        </md-grid-tile>
    </md-grid-list>
</div>