<div [style.background]="pink">
    <md-grid-list cols="1" rowHeight="128px">
        <md-grid-tile colspan="1">
            <h2 style="text-align:center">Results for search {{searchText}}.</h2>
        </md-grid-tile>
    </md-grid-list>
    <md-grid-list cols="12" rowHeight="160px">
        <div *ngFor='let plugin of plugins;let even=even;'>
        <md-grid-tile colspan="2">
        </md-grid-tile>
        <md-grid-tile colspan="8">
            <md-card md-button routerLink='/plugin/{{plugin.username}}/{{plugin.name}}' style="width:100%;">
                <md-card-header>
                    <md-card-title>
                        <h3>{{plugin.name}}</h3>
                    </md-card-title>
                </md-card-header>
                <md-card-content style="word-wrap:break-word;word-break:break-all;display: block;white-space: normal; line-height:100%;">
                    <p>
                        {{plugin.content}}
                    </p>
                </md-card-content>
                <p style="display: inline;">Version: {{plugin.version}}</p>
            </md-card>
        </md-grid-tile>
        <md-grid-tile colspan="2">
        </md-grid-tile>
        </div>
    </md-grid-list>
</div>